*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/source/build/
/buildSrc/build/
/samples/build/
/samples/example-app/build/
/samples/quickstart/build/
/samples/custom-flows/build/
/source/api/build/
/workbench/build/
/source/ui/build/
/.kotlin/
/source/telemetry/build/
/samples/prebuilt-ui/build/
/docs/
.keys.json