---
title: Verification
---
//[Clerk Android](../../../index.html)/[com.clerk.model.verification](../index.html)/[Verification](index.html)/[Verification](-verification.html)



# Verification



[androidJvm]\
constructor(status: [Verification.Status](-status/index.html)? = null, strategy: [String](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin-stdlib/kotlin/-string/index.html)? = null, attempts: [Int](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin-stdlib/kotlin/-int/index.html)? = null, expireAt: [Long](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin-stdlib/kotlin/-long/index.html)? = null, error: [Error](../../com.clerk.model.error/-error/index.html)? = null, externalVerificationRedirectUrl: [String](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin-stdlib/kotlin/-string/index.html)? = null, nonce: [String](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin-stdlib/kotlin/-string/index.html)? = null)




