---
title: verification
---
//[Clerk Android](../../../index.html)/[com.clerk.model.emailaddress](../index.html)/[EmailAddress](index.html)/[verification](verification.html)



# verification



[androidJvm]\
val [verification](verification.html): [Verification](../../com.clerk.model.verification/-verification/index.html)? = null



The verification status of the email address.




