---
title: verification
---
//[Clerk Android](../../../index.html)/[com.clerk.model.account](../index.html)/[EnterpriseAccount](index.html)/[verification](verification.html)



# verification



[androidJvm]\
val [verification](verification.html): [Verification](../../com.clerk.model.verification/-verification/index.html)? = null



Verification information for the enterprise account, if available.




