name: Android Unit Test

on:
  pull_request:
    branches: [ "main", "sam/clerk-ui" ]

jobs:
  build:

    runs-on: macos-latest-xlarge

    steps:
      - uses: actions/checkout@v6
      - name: set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'zulu'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew :source:api:testDebugUnitTest
