---
title: verification
---
//[Clerk Android](../../../index.html)/[com.clerk.model.passkey](../index.html)/[Passkey](index.html)/[verification](verification.html)



# verification



[androidJvm]\
val [verification](verification.html): [Verification](../../com.clerk.model.verification/-verification/index.html)? = null



The verification details for the passkey.




