---
title: verification
---
//[Clerk Android](../../../index.html)/[com.clerk.model.account](../index.html)/[ExternalAccount](index.html)/[verification](verification.html)



# verification



[androidJvm]\
val [verification](verification.html): [Verification](../../com.clerk.model.verification/-verification/index.html)? = null



An object holding information on the verification of this external account.




